<!DOCTYPE html>
<html>
<head>
<title>Voting Results</title>
</head>
<body>
<h2>Voting Results</h2>

{% if summary %}
<h3>Vote Summary:</h3>
<table border="1" cellpadding="5">
<tr>
    <th>Candidate</th>
    <th>Total Votes</th>
</tr>
{% for name, count in summary.items() %}
<tr>
    <td>{{ name }}</td>
    <td>{{ count }}</td>
</tr>
{% endfor %}
</table>

{% if winners %}
    {% if winners|length == 1 %}
        <h3> Winner: {{ winners[0] }} </h3>
    {% else %}
        <h3> It's a Tie between: {{ winners|join(', ') }} </h3>
    {% endif %}
{% endif %}
{% else %}
<p>No votes submitted yet.</p>
{% endif %}

<a href="/">Go to Home Page</a><br><br>
<a href="/student">Go to Voting Page</a>
</body>
</html>

